# Ignore node_modules directory
node_modules/

# Ignore log files
*.log

# Ignore environment files
.env

# Ignore compiled files
*.class

# Ignore zip files
*.zip

# Ignore package-lock.json
package-lock.json

# Ignore .html files
*.html