extends partials/layout 

block layout-content 
  section.login-container
        h2.login-header Please log in to continue
        a.google-login-button(href="/auth/google")
          i.fab.fa-google
          |  Continue with Google