extends partials/layout

block layout-content

  main.products-main
    if user
      input(type="hidden", name="user-id", value=user.user_id, id="hiddenUserId")
    else
      input(type="hidden", name="user-id", value=null, id="hiddenUserId")

    section.products
      section.products-container 
        //Products will be Dynamically loaded here
        each product in products
          include partials/product 

  include partials/footer.pug
